*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    max-width: 72rem;
    width: 100%;
}
.section-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.safeguarding{
    display: flex;
    flex-direction: row;
    padding-bottom: 2rem;
    border-bottom: 1px solid black;
    margin-bottom: 4rem;
}
.safeguarding h2{
    width: 50%;
}
.safeguarding p{
    width: 50%;
}
.save-images{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    list-style: none;
}
.save-image img{
    width: 100%;
    height: 100%;
}
.save-image{
    position: relative ;
}
.save-image h3{
    color: white;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}
.logohead{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 6rem;
    background-color: black;
}
.logohead .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.links-head{
    display: flex;
    flex-direction: row;
    list-style: none;
    
}
.link-head{
    margin-left: 1rem;
    text-decoration: none;
    color: white;
}
.get{
    color: white;
    text-decoration: none;
}
.section-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 38rem;
}
.section-1 .container{
    display: flex;
    flex-direction: column;
}
.section-1 h1{
    font-size: 3.5rem;
    font-weight: 600;
    margin-top: 3rem;
}
.section-1 p{
    width: 37rem;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 2rem;
}
